// imports
@import "../variables.less";

// colors
@red: #521223;
@redlt: #811F36;
@gold: #E2A154;
@blue: #2F869D;

@Josefin : 'Josefin Slab', serif;
@OpenSans : 'Open Sans', sans-serif;

.red{
	color: @red;
}
.gold{
	color: @gold;
}

/*****************************
******************************
	General Styles
******************************
*****************************/

html, body{
	//height:100%;
	margin:0;
	padding:0;
}
body{
	background-color: @red;
	color: #fff;
	font-family: @OpenSans;
	font-weight: 300;
}

h1{
	color: @gold;
	font-family: @Josefin;
	font-size: 72px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1rem;
	margin-top:120px;
	@media (max-width: @screen-md) {
		margin-top:80px;
		font-size: 48px;
	}
	@media (max-width: @screen-sm) {
		margin-top:50px;
		font-size: 30px;
		letter-spacing: 0.5rem;
	}
	&:after {
		content: "";
		display: block;
		border-top: 3px solid @gold;
		position: relative;
		top: -45px;
		z-index: 1;
		@media (max-width: @screen-md) {
			top: -30px;
		}
		@media (max-width: @screen-sm) {
			top: -25px;
		}
	}
	span{
		display: inline-block;
		padding: 0 20px;
		background: @red;
		z-index: 100;
		position: relative;
	}
}

h2{
	color: #fff;
	font-family: @Josefin;
	font-size: 43px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5rem;
	margin-top:80px;
	@media (max-width: @screen-md) {
		margin-top:30px;
		font-size: 32px;
	}
	@media (max-width: @screen-sm) {
		margin-top:25px;
		font-size: 25px;
	}
}

h3{
	color: #fff;
	font-family: @Josefin;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	line-height: 160%;
	letter-spacing: .5rem;
	margin-top: 0;
	@media (max-width: @screen-md) {
		font-size: 24px;
	}
	@media (max-width: @screen-sm) {
		font-size: 16px;
	}
}

h4{
	color: #fff;
	font-family: @Josefin;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 160%;
	@media (max-width: @screen-md) {
		font-size: 20px;
	}
	@media (max-width: @screen-sm) {
		font-size: 14px;
	}
}

h5{
	color: @blue;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 160%;
	font-weight: 700;
	@media (max-width: @screen-md) {
		font-size: 18px;
	}
	@media (max-width: @screen-sm) {
		font-size: 14px;
	}
}

a{
	color: @gold;
	&:hover{
		color: @gold;
	}
	&:focus{
		color: @gold;
	}
}

p{
	font-size: 18px;
	line-height: 150%;
}
em{
	  font-weight: 300;
}
section.content-section{
	padding: 0 0 120px 0;
}
section.backgroundLight{
	background-image: url('../img/encon/img-grain-pattern.png');
	background-color: @redlt;
	background-position: fixed;
	h1{
		span{
			background: url('../img/encon/img-grain-pattern.png') @redlt;
		}
	}
}
 #siteWrapper{
 	position: relative;
 	z-index: 98;
 	background: @red;
 }

// responsive iframe
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// button
.btn-default{
	background: transparent;
	border:none;
	font-family: @Josefin;
	font-size: 24px;
	text-transform: uppercase;
	color: @gold;
	padding-left: 0;
	&:hover,
	&:focus{
		background: transparent;
	}
	.material-icons{ // hacky BS I had todo to get the icons to align in buttons
		font-size: 28px;
		float: right;
		margin-top: 3px;
	}
	&:hover{
		color: @gold;
		text-decoration: underline;
	}
}



/*****************************
******************************
	Navbars
******************************
*****************************/

// Desktop Nav
body.mobile{
	#navWrapper{
		position: fixed;
		nav.navbar{
			ul{
				display: none;
			}
		}
	}
}
#navWrapper{
	position: absolute;
	z-index: 1000;
	width: 100%;
	font-family: @Josefin;
	@media (max-width: @screen-md) {
		nav{
			background: transparent;
		}
	}
	&.fixey{
		nav{
			background-color: @red;
			.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.15));
			ul{
				li{
					a{
						border-bottom: 3px solid @red;
					}
					&.active{
						a{
							border-bottom: 3px solid @gold;
						}
					}
				}
			}
		}
	}
	nav.navbar{
		ul{
			@media (max-width: @screen-md) {
				display: none;
			}
		    float: none;
			text-align: center;
			li{
		    display: inline-block;
		    float: none;
			text-align: center;
				a{
					padding: 13px 20px 10px 20px n7u;
					color: @gold;
					font-size: 23px;
					text-transform: uppercase;
					.transition(border ease-in .2s );
					&:hover{
						background: none;
					}
					&:focus{
						background: none;
					}
				}
			}
		}
	}
}

// Mobile Nav Toggle
body.mobile{
	#mobile-nav-toggle{
		display: block;
	}
}
#mobile-nav-toggle{
	display:none;
	padding: 12px 0px;
	z-index: 1000;
	float: right;
	cursor: pointer;
	.nav-icon {
	  	margin: 1em 1em;
	  	width: 25px;
		color: @gold;
	  	&.active:before {
	  		.transform( translateY(0) rotate(135deg) );
		}
		&.active:after {
  			.transform( translateY(-9px) rotate(-135deg) );
  		}
  		&.active{
			&:after, 
			&:before, 
			& div {
				background-color: @red;
			}
  		}
  		&:after, 
		&:before, 
		& div {
		  	background-color: @gold;
		  	.border-radius(0px);
		  	content: '';
		  	display: block;
		  	height: 5px;
		  	margin: 5px 0;
			.box-shadow(0px 1px 1px 0px rgba(0,0,0,0.15));
		  	.transition(all .2s ease-in-out);
		}
		&.active div{
			.transform( scale(0) );
		  	background-color: @red;
		}
	}
}

// Mobile Nav
body.mobile{

}
#nav-mobile{
	width: 100%;
	display: block;
	background: @gold;
	position: fixed;
	top: 0;
	z-index: 999;
	max-height: 0;
	overflow: hidden;
	.transition(max-height 0.5s ease);
	&.open{
		height: 100%;
		max-height: 100vh;
		ul{
			height: 100vh;
		}
	}
	img{
		
	}
	ul{
		list-style: none;
		display: block;
		margin:0;
		padding:0;
		font-family: @Josefin;
		li{
			margin: 0;
			a{
				color: @red;
				padding: 20px;
				border-bottom: 1px solid rgba(0,0,0,0.1);
				font-size: 2.2em;
				display: block;
				text-transform: uppercase;
				@media (max-width: @screen-xs) {
					font-size: 1.5em;
					padding: 15px;
				}
			}
		}
	}
}
/*****************************
******************************
	Top Parallax Styles
******************************
*****************************/

#home{
	position: relative;
	min-height: 1000px;
	@media (max-width: @screen-md) {
		min-height: 400px ;
	}
	@media (max-width: @screen-sm) {
		min-height: 200px ;
	}
	.nonparallax{
		background-position: top center;
	    background-size: 100% auto;
	    background-repeat: repeat-x;
		background-image: url('../img/encon/img-encon-cover.jpg');
	    width: 100%;
	    height: 1000px;
	    position: absolute;
	    display: none;
	}
	.parallax-layer {
		background-position: bottom center;
	    background-size: auto 100%;
	    background-repeat: repeat-x;
	    width: 100%;
	    height: 1000px;
	    position: absolute;
	}
	.parallax-layer.fixed{
	    position: fixed;
	}
	#paralax-1{
		background-image: url('../svg/encon/1-sky.svg');
	}
	#paralax-2{
		background-image: url('../svg/encon/2-clouds.svg');
	}
	#paralax-3{
		background-image: url('../svg/encon/3-logo.svg'); 
	}
	#paralax-4{
		background-image: url('../svg/encon/4-mountians.svg');
	}
	#paralax-5{
		background-image: url('../svg/encon/5-trees.svg');
	}
	#paralax-6{
		background-image: url('../svg/encon/6-trees.svg');
	}
	#paralax-7{
		background-image: url('../svg/encon/7-trees.svg');
	}
	#paralax-8{
		background-image: url('../svg/encon/8-trees.svg');
	}
	#paralax-9{
		background-image: url('../svg/encon/9-trees.svg');
	}
}

/*****************************
******************************
	Schedule Styles
******************************
*****************************/

#schedule{
	h2{
		text-align: left;
	}
	.schedule-wrapper{
		margin-top: 15px;
		h4{
			font-size: 22px;
			padding: 0;
			margin:0;
			@media (max-width: @screen-md) {
				font-size: 20px;
			}
			@media (max-width: @screen-sm) {
				font-size: 14px;
				padding-top:10px;
			}
		}
		.schedule-info{
			background-image:linear-gradient(90deg, transparent 0%, @gold 0%, @gold 0.6%, transparent 0%, transparent 0%, transparent); 
			background-position: 5px;
			position: relative;
			padding: 5px 0 30px 50px;
			line-height: 150%;
			display: block;
			margin-left: -5px;
			font-size: 20px;
			@media (max-width: @screen-md) {
				font-size: 18px;
			}
			@media (max-width: @screen-sm) {
				padding: 5px 0 15px 25px;
				font-size: 18px;
			}
			> span.schedule-content{
				display: block;
				padding:10px 0 0 0;
				max-height: 0;
				overflow: hidden;
				.transition(max-height 0.3s ease);
				&.open{
					max-height: 400px;
				}
			}
			> span.schedule-title{
				display: inline-block;
				cursor: pointer;
				color: @gold;
				.material-icons{
					line-height: 150%;
				}
			}
			.timeline-dot {
				background: #fff;
			    position: absolute;
			    top: 15px;
			    left: 1px;
			    width: 10px;
			    height: 10px;
			    border-radius: 50%;
			    box-shadow: 0 0 0 2px @gold,inset 0 0 0 @gold,0 3px 0 4px transparent;
			}
		}
	}
}

/*****************************
******************************
	Speakers Styles
******************************
*****************************/

#speakers{
	text-align: center;
	img{ 
		.transition(max-height 0.3s ease); 
		.box-shadow(0px 3px 5px 0px rgba(0,0,0,0.55));
		&:hover{
			.transform(scale(1.05,1.05));
		}
	}
	h3{
		padding:10px 0 0 0;
		line-height: 120%;
	}
	p{
		font-size: 22px;
		font-weight: 100;
	}
	a{
		color: #fff;
		font-weight: 400;
	}
}


/*****************************
******************************
	Location Styles
******************************
*****************************/

#location{
	h3{
		margin-top: 30px;
		&.sm{
			padding: 15px 20px;
			border-left: 1px solid @gold;
		}
	}	
}



/*****************************
******************************
	RSVP Form Styles
******************************
*****************************/

#rsvp{
	form{
        .row{
        	@media (min-width: @screen-sm) {
				padding: 20px 0;
			}
			.col-sm-6{
				@media (max-width: @screen-sm) {
				  	padding-top: 12px;
				  	padding-bottom: 12px;
				}
			}
        }
        fieldset {
	    	border: none;
	    	display: block;
	    	label{
	    		color: #999;
			    line-height: 1.8em;
			    font-size: 1em;
			    width: 80%;
			    display: block;
			    padding-left: 0.6em;
			    font-weight: 500;
	    	}
	       	&.styled-input {
	        	position: relative;
		       	label {
			        color: @gold;
			        position: absolute;
			        top: 0;
			        left: 0;
			        font-size: 1.2em;
			        font-weight: 500;
			        .transition(all 0.15s ease-in-out);
			        pointer-events: none;
			    }
		       	input[type="text"]:focus ~ label,
		       	input[type="text"]:valid ~ label,
		       	select:focus ~ label,
		       	select:valid ~ label  {
		        	top: -1.6rem;
		         	position: absolute;
		        	font-size: 1em;
		        	.transition(all 0.15s ease-in-out); 
		        	color: @gold;
		        }
		        input[type="text"]:valid ~ label{
		        	color: #fff !important;
		        }
		        i{
		        	position: absolute;
		        	right: 0;
		        }
		    }
		    input[type="text"] {
				margin-right: 0;
        		width: 100%;
				.appearance(none);
				.transition(all 0.2s ease-in-out);
				background: transparent;
				border: none;
				border-bottom: 2px solid #fff;
				padding: 0.3em 0.5em 0.2em 0.5em;
				text-decoration: none;
				outline: 0;
				line-height: 1em;
				margin: 0;
				font-size: 1.4em;
				font-weight: 400;
				color: black; 
				&:focus {
			    	border-bottom: @gold 2px solid;
			    }
			}
	    } // end fieldset
		select{
			.appearance(none);
			background: transparent;
			.border-radius(0);
			.box-shadow(none);
			border:none;
			border-bottom: 2px solid #fff;
			background-clip: padding-box !important;
			&:focus {
			    	border-bottom: @gold 1px solid;
			    }
		}
	}
}// End #rsvp